NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/utalk
DB_SSL=false

APP_PUBLIC_URL=http://192.0.0.10:8080
WEB_PUBLIC_URL=http://192.0.0.10:5173
API_PUBLIC_URL=http://192.0.0.10:4000
WS_PUBLIC_URL=ws://192.0.0.10:4000

JWT_ACCESS_SECRET=change_this_access_secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=7
COOKIE_SECURE=false
INTERNAL_API_TOKEN=change_this_internal_token
